<ion-header>
  <ion-navbar color="primary">
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detail otázky</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 color="primary" *ngIf="selectedItem">
    {{selectedItem.title}}
    
  </h2>
  <p *ngIf="selectedItem">
    Autor: {{userName}}
  </p>
  <p *ngIf="selectedItem">
    Kategorie: {{category}}
  </p>
  <p *ngIf="selectedItem">
    Od data: {{selectedItem.dateFrom}}
  </p>
  <p *ngIf="selectedItem">
    Do data: {{selectedItem.dateTo}}
  </p>
  <p *ngIf="selectedItem">
    <b>Počet odpovědí: {{selectedItem.numAnswers}}</b>
  </p>

  <p style="font-size: 16pt" *ngIf="selectedItem">
    <ion-icon name="thumbs-up" style="margin-right:3px"></ion-icon>: {{selectedItem.likes}}
    <ion-icon name="thumbs-down" style="margin-right:3px"></ion-icon>: {{selectedItem.dislikes}}
  </p>

 <ion-list >
   <ion-item *ngFor="let a of statistics" >
     {{a.title}}: {{a.count}}
   </ion-item>
 </ion-list>

</ion-content>
